<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- Navbar com Bootstrap -->
  <div class="container-fluid"> <!-- Container fluido para responsividade-->
    <a class="navbar-brand" href="#"> <!-- Link da marca-->
      <img src="assets/logo.png" alt="Logo AgroMonitoramento" width="150"> <!-- Logo da aplicação -->
      <span class="logo-text">AgroMonitoramento</span> <!-- Nome da aplicação -->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <!-- Botão para colapsar o menu em telas pequenas-->
      <span class="navbar-toggler-icon"></span> <!-- Ícone do botão-->
    </button>

    <div class="collapse navbar-collapse" id="navbarNav"> <!-- Itens do menu que colapsam em telas pequenas-->
      <div class="ms-auto d-flex align-items-center">
      @if ((isLoggedIn | async) === false) {
        <ul class="navbar-nav ms-auto"> <!-- Itens do menu alinhados à direita-->
          <li class="nav-item"> <!-- Item do menu-->
            <a class="nav-link" routerLink="/">INÍCIO</a> <!-- Link para a página inicial-->
          </li>
          <li class="nav-item"> <!-- Item do menu-->
            <a class="nav-link" routerLink="/sobre">SOBRE</a> <!-- Link para a página sobre-->
          </li>
          <li class="nav-item"> <!-- Item do menu-->
            <a class="nav-link" routerLink="/contato">CONTATO</a> <!-- Link para a página de contato-->
          </li>
        </ul>
      }
      @if (isLoggedIn | async) {
        <button class="nav-link btn btn-link nav-item me-3" routerLink="/dashboard">DASHBOARD</button>
          <div ngbDropdown class="d-inline-block user-profile-dropdown">
            <button class="btn btn-outline-success dropdown-toggle user-button" id="dropdownPerfil" ngbDropdownToggle>
              <i class="fas fa-user-circle me-2"></i> João Silva
            </button>

            <div ngbDropdownMenu aria-labelledby="dropdownPerfil">
              <button ngbDropdownItem routerLink="/perfil">EDITAR CADASTRO</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="logout()">SAIR</button>
            </div>
          </div>
      } @else {
          <button class="btn btn-outline-success me-2" routerLink="/planos">CADASTRO</button>
          <button class="btn btn-primary" type="button" (click)="openDialog()">LOGIN</button>
        }
      </div>
    </div>
  </div>
</nav>
