/* MODAL */
.modal-adicionar-fazenda-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal-adicionar-fazenda {
  background: #fff;
  border-radius: 16px;
  width: 780px;
  max-width: 95%;
  max-height: 85vh;
  overflow-y: auto; /* ← evita scroll na página */
  padding: 32px 40px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.25);
  position: relative;
}

/* TITULO */
.modal-title {
  text-align: center;
  color: #104137;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* BOTÃO FECHAR */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #104137;
}

.row {
  display: flex;
  gap: 1rem;
  color: #0B783F;
}

.row .cidade {
  flex: 2;
}

.row .uf, .row .cep {
  flex: 1;
}

.salvar-button {
  width: 100%;
  background-color: #0B783F;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc; /* bordas cinza claro */
}

::ng-deep .mat-form-field-label {
  color: #c51414; /* labels cinza */
}
